<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Scheduled Tweets</h1>
</div>

<% if @user %>
  Logged in as <%= @user.email %>
  <%= button_to "Logout", logout_path, method: :delete %> <%# More correct to use a form for delete request, that is what button_to generates %>
<% end %>
